<div class="user-login-page-container">
    <div class="user-login-form">
        <h2 class="user-login-title">すでに会員の方</h2>
        <%= form_with url: login_path do |form| %>
            <div class="field">
                <p class="field-label">メールアドレス</p>
                <%= form.email_field :email, placeholder: 'メールアドレス', class: 'email-field text-field' %>
            </div>
            <div class="field">
                <p class="field-label">パスワード</p>
                <%= form.password_field :password, placeholder: 'パスワード', class: 'password-field text-field' %>
                <label class="password-checkbox-container">
                    <input type="checkbox" class="password-checkbox">
                    <span class="password-checkbox-label">パスワードを表示</span>
                </label>
            </div>
            <div class="actions">
                <%= form.submit "ログイン" %>
            </div>
        <% end %>
    </div>
    <div class="user-sign-in-form">
        <h2 class="user-sign-in-title">初めての方</h2>
        <div class="user-sign-in-coupon">
            <%= image_tag '/login_coupon.jpg' %>
        </div>
        <div class="user-sign-in-link">
            <a href="<%= new_user_path %>" class="sign-in-link-button">
                <p>会員登録はこちら<p>
            </a>
        </div>
    </div>
</div>