<!-- パンくずリスト（パーシャルか何かで共通化） -->
<div class="breadcrumb">
  <ul class="breadcrumb-list">
    <li class="breadcrumb-list-item"><a href="/">TANPホーム</a></li>
    <span class="breadcrumb-arrow"> > </span>
    <li class="breadcrumb-list-item" class="breadcrmb-current-page">記念日一覧</li>
  </ul>
</div>

<!-- 会員ページのヘッダー（パーシャルか何かで共通化） -->
<div class="member-page-header">
  <%= image_tag '/users/mypage_header_icon.png', class: 'member-page-header-icon' %>
  <p class="member-page-header-username">テスト 様のマイページ</p>
  <p class="member-page-header-info">（
    <!-- スペシャル会員とレギュラー会員によって表示を買えるようにする（余裕があれば） -->
    <span class="member-page-header-rank">スペシャル会員</span>
    /
    <!-- 保存されているポイントを表示（余裕があれば） -->
    <span class="member-page-header-point">0 TANPポイント</span>
    ）
  </p>
</div>

<div class="member-page-contents-wrapper">
  <!-- 会員ページの左側メニュー（パーシャルか何かで共通化） -->
  <div class="member-page-left">
    <div class="member-page-left-menu-section">
      <h3 class="left-menu-title">メニュー</h3>
      <ul class="left-menu-list">
        <li class="left-menu-list-item"><a href="#">注文履歴</a></li>
        <li class="left-menu-list-item"><a href="#">お気に入り商品</a></li>
        <li class="left-menu-list-item current-page"><a href="#">記念日リマインダー</a></li>
        <li class="left-menu-list-item"><a href="#">クーポン一覧</a></li>
        <li class="left-menu-list-item"><a href="#">ポイントご利用履歴</a></li>
        <li class="left-menu-list-item"><a href="#">お友だち紹介</a></li>
      </ul>
    </div>
    
    <div class="member-page-left-menu-section">
      <h3 class="left-menu-title">登録情報</h3>
      <ul class="left-menu-list">
        <li class="left-menu-list-item"><a href="#">会員情報</a></li>
        <li class="left-menu-list-item"><a href="#">クレジットカード情報</a></li>
        <li class="left-menu-list-item"><a href="#">パスワード変更</a></li>
        <li class="left-menu-list-item"><a href="#">メルマガ設定/退会</a></li>
      </ul>
    </div>
  </div>

  <!-- 記念日一覧 -->
  <div class="member-page-right">
    <div class="member-page-right-section">
      <div class="member-calender-description">
        <p class="member-calender-description-title">記念日リマインダー</p>
      </div>
      <div class="member-calender">
        <div class="calender-switch">
          <ul class="calender-switch-items">
            <!-- クリックしたらis-activeをクリックした方に付けるようにする -->
            <li class="calender-switch-item switch-precious-day is-active">記念日</li>
            <li class="calender-switch-item switch-precious-person">大切な人</li>
          </ul>
        </div>

        <div class="calender-panel">
          <div class="calender-panel-items">
            <!-- 記念日タブ -->
            <div class="calender-panel-item precious-day-panel is-show">
              <a href="#" class="precious-day-add-button">
                <p class="plus">＋</p>
                <p class="add-text">記念日を追加する</p>
              </a>
              <div class="precious-day-calender">
                <p class="precious-day-calender-title">1月</p>
                <div class="precious-day-calender-cards">
                  <a class="precious-day-calender-card">
                    <%= image_tag '/users/calender/anniversary.jpg' %>
                  </a>
                  <a class="precious-day-calender-card">
                    <%= image_tag '/users/calender/anniversary.jpg' %>
                  </a>
                </div>
                <p class="precious-day-calender-title">2月</p>
                <div class="precious-day-calender-cards">
                  <a class="precious-day-calender-card">
                    <%= image_tag '/users/calender/birthday.jpg' %>
                  </a>
                  <a class="precious-day-calender-card">
                    <%= image_tag '/users/calender/birthday.jpg' %>
                  </a>
                </div>
              </div>
            </div>

            <!-- 大切な人タブ -->
            <div class="calender-panel-item precious-person-panel">
              <a href="" class="precious-day-add-button">
                <p class="plus">＋</p>
                <p class="add-text">記念日を追加する</p>
              </a>
              <div class="precious-person-calender">
                <p class="precious-person-calender-title">友達</p>
                <ul class="precious-person-calender-items">
                  <li class="precious-person-calender-item">
                    <a href="/preciouspeople/1">
                      <%= image_tag '/users/calender/birthday.jpg' %>
                      <p>テスト さん</p>
                    </a>
                  </li>
                </ul>
                <p class="precious-person-calender-title">友達</p>
                <ul class="precious-person-calender-items">
                  <li class="precious-person-calender-item">
                    <a href="#">
                      <%= image_tag '/users/calender/birthday.jpg' %>
                      <p>テスト さん</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>