<%= render 'preciouspeople/breadcrumb', page_name: '登録情報の確認' %>
<%= render 'preciouspeople/member_page_header' %>

<div class="member-page-contents-wrapper">
  <%= render 'preciouspeople/member_left_menu' %>

  <div class="member-page-right">
    <div class="member-page-right-section">
      <div class="member-info-title">
        <h2>会員登録情報</h2>
      </div>
      <div class="member-info-contents">
        <div class="member-info-contents-item">
          <p class="info-content-header">名前</p>
          <p class="info-content-data"><%= @user.name %></p>
        </div>
        <div class="member-info-contents-item">
          <p class="info-content-header">性別</p>
          <p class="info-content-data"><%= @gender %></p>
        </div>
        <div class="member-info-contents-item">
          <p class="info-content-header">生年月日</p>
          <p class="info-content-data"><%= @birthday %></p>
        </div>
        <div class="member-info-contents-item">
          <p class="info-content-header">郵便番号</p>
          <p class="info-content-data"><%= @postcode %></p>
        </div>
        <div class="member-info-contents-item">
          <p class="info-content-header">住所</p>
          <p class="info-content-data"><%= @address %></p>
        </div>
        <div class="member-info-contents-item">
          <p class="info-content-header">メールアドレス</p>
          <p class="info-content-data"><%= @user.email %></p>
        </div>
        <div class="member-info-contents-item">
          <p class="info-content-header">電話番号</p>
          <p class="info-content-data"><%= @phone_number %></p>
        </div>
        <div class="info-update-button">
          <a href="<%= edit_user_path %>">
            <p>編集する</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>