<div class="top-page">
  <div class="top-page-inner">
    <div class="top-page-search">
    </div>

    <div class="top-page-main">
      <div class="left-side-menu">
        <div class="left-side-menu-content">
          <h3 class="left-side-menu-content-title">シーンから探す</h3>
          <ul class="left-side-menu-list">
            <li class="left-side-menu-list-item"><a href="#">誕生日</a></li>
            <li class="left-side-menu-list-item"><a href="#">記念日</a></li>
            <li class="left-side-menu-list-item"><a href="#">母の日</a></li>
            <li class="left-side-menu-list-item"><a href="#">出産祝い</a></li>
            <li class="left-side-menu-list-item"><a href="#">結婚記念日</a></li>
            <li class="left-side-menu-list-item"><a href="#">お祝い</a></li>
            <li class="left-side-menu-list-item"><a href="#">就職祝い</a></li>
            <li class="left-side-menu-list-item"><a href="#">入学祝い</a></li>
            <li class="left-side-menu-list-item"><a href="#">内祝い</a></li>
            <li class="left-side-menu-list-item"><a href="#">お礼</a></li>
            <li class="left-side-menu-list-item"><a href="#">ホワイトデー</a></li>
            <li class="left-side-menu-list-item"><a href="#">パーティー</a></li>
            <li class="left-side-menu-list-item"><a href="#">お歳暮・お中元</a></li>
            <li class="left-side-menu-list-item"><a href="#">敬老の日</a></li>
            <li class="left-side-menu-list-item"><a href="#">バレンタイン</a></li>
            <li class="left-side-menu-list-item"><a href="#">クリスマス</a></li>
            <li class="left-side-menu-list-item"><a href="#">新築祝い</a></li>
          </ul>
        </div>
        <div class="left-side-menu-content">
          <h3 class="left-side-menu-content-title">カテゴリから探す</h3>
          <ul class="left-side-menu-list">
            <li class="left-side-menu-list-item"><a href="#">ギフトカタログ</a></li>
            <li class="left-side-menu-list-item"><a href="#">グルメ・スイーツ</a></li>
            <li class="left-side-menu-list-item"><a href="#">小物・文房具</a></li>
            <li class="left-side-menu-list-item"><a href="#">ファッション</a></li>
            <li class="left-side-menu-list-item"><a href="#">ベビーキッズ</a></li>
            <li class="left-side-menu-list-item"><a href="#">インテリア</a></li>
            <li class="left-side-menu-list-item"><a href="#">キッチン</a></li>
            <li class="left-side-menu-list-item"><a href="#">ビューティー</a></li>
          </ul>
        </div>
        <div class="left-side-menu-content">
          <h3 class="left-side-menu-content-title">ブランドから探す</h3>
          <ul class="left-side-menu-list">
            <li class="left-side-menu-list-item"><a href="#">THE BODY SHOP</a></li>
            <li class="left-side-menu-list-item"><a href="#">kailijumei</a></li>
            <li class="left-side-menu-list-item"><a href="#">CLAYD</a></li>
            <li class="left-side-menu-list-item"><a href="#">FLOWERRiUM®</a></li>
            <li class="left-side-menu-list-item"><a href="#">SOW EXPERIENCE</a></li>
            <li class="left-side-menu-list-item"><a href="#">VITAL MATERIAL</a></li>
            <li class="left-side-menu-list-item"><a href="#">Q-FLA</a></li>
            <li class="left-side-menu-list-item"><a href="#">2-U:トゥーユー</a></li>
            <li class="left-side-menu-list-item"><a href="#">八天堂</a></li>
            <li class="left-side-menu-list-item"><a href="#">日比谷花壇</a></li>
            <li class="left-side-menu-list-item"><a href="#">SKINFOOD</a></li>
            <li class="left-side-menu-list-item"><a href="#">HitoHana</a></li>
          </ul>
        </div>
      </div>

      <div class="center-content">
        <div class="center-content-section">
          <h3 class="center-content-title">母の日ギフトランキング</h3>
          <div class="center-content-item">
            <div class="center-products">
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/mother_day_1.jpg') %>
                  <p class="product-category">セット商品</p>
                  <p class="product-title">【TANP限定 スペシャルセット】リップ＆フラワリウム</p>
                  <p class="product-price">￥7,390</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/mother_day_2.jpg') %>
                  <p class="product-category">チョコレート</p>
                  <p class="product-title">【Summerbird ORGANIC】数量限定 チョコレート＆フラワー限定</p>
                  <p class="product-price">￥4,180</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/mother_day_3.jpg') %>
                  <p class="product-category">ヘアケア</p>
                  <p class="product-title">【TANP限定】【TANGLE TEEZER】コンパクトスタイラー</p>
                  <p class="product-price">￥5,528</p>
                </a>
              </div>
            </div>
            <div class="center-products">
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/mother_day_4.jpg') %>
                  <p class="product-category">入浴剤</p>
                  <p class="product-title">CLAYD WEEKBOOK</p>
                  <p class="product-price">￥3,850</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/mother_day_5.jpg') %>
                  <p class="product-category">リップ・ティント</p>
                  <p class="product-title">Kailijumei｜フラワーリップ（日本限定ピンクゴールド）</p>
                  <p class="product-price">￥2,728</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/mother_day_6.jpg') %>
                  <p class="product-category">ハーバリウム</p>
                  <p class="product-title">カーネーションFLOWERiUM（フラワリウム）®toilette(トワレ)</p>
                  <p class="product-price">￥4,290</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="center-content-section">
          <h3 class="center-content-title">人気プレゼントランキング</h3>
          <div class="center-content-item">
            <div class="center-products">
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/popular_1.jpg') %>
                  <p class="product-category">リップ・ティント</p>
                  <p class="product-title">【kailijumei】カイリジュメイ フラワーティントリップ</p>
                  <p class="product-price">￥2,728</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/popular_2.jpg') %>
                  <p class="product-category">リップ・ティント</p>
                  <p class="product-title">Kailijumei フラワーティントリップ【限定カラー】</p>
                  <p class="product-price">￥1,980</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/popular_3.jpg') %>
                  <p class="product-category">ネックレス</p>
                  <p class="product-title">【Sears】テディベア＆誕生石オープンハート</p>
                  <p class="product-price">￥7,700</p>
                </a>
              </div>
            </div>
            <div class="center-products">
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/popular_4.jpg') %>
                  <p class="product-category">マスク</p>
                  <p class="product-title">ATB-UV+マスク 3枚セット</p>
                  <p class="product-price">￥2,805</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/popular_5.jpg') %>
                  <p class="product-category">ハーバリウム</p>
                  <p class="product-title">FLOWERRiUM（フラワリウム）® toilette(トワレ)</p>
                  <p class="product-price">￥4,290</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/popular_6.jpg') %>
                  <p class="product-category">レディースパジャマ</p>
                  <p class="product-title">【gelato pique】ベビモコマルチBD 上下セット</p>
                  <p class="product-price">￥13,420</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="center-content-section">
          <h3 class="center-content-title">ビューティーの人気プレゼント</h3>
          <div class="center-content-item">
            <div class="center-products">
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/beauty_1.jpg') %>
                  <p class="product-category">リップ・ティント</p>
                  <p class="product-title">Kailijumei｜フラワーリップ（日本限定ピンクゴールド）</p>
                  <p class="product-price">￥2,728</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/beauty_2.jpg') %>
                  <p class="product-category">セット商品</p>
                  <p class="product-title">【TANP限定】ギフトセット リップ＆誕生石ネックレス＆テディ</p>
                  <p class="product-price">￥10,900</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/beauty_3.jpg') %>
                  <p class="product-category">ヘアケア</p>
                  <p class="product-title">【TANGLE TEEZER】コンパクトスタイラー</p>
                  <p class="product-price">￥2,530</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="center-content-section">
          <h3 class="center-content-title">グルメ・スイーツの人気プレゼント</h3>
          <div class="center-content-item">
            <div class="center-products">
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/food_1.jpg') %>
                  <p class="product-category">調味料</p>
                  <p class="product-title">【ありが豚でありがとうを！！】ビッグソルト(ボーイ)</p>
                  <p class="product-price">￥1,620</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/food_2.jpg') %>
                  <p class="product-category">チョコレート</p>
                  <p class="product-title">【Summerbird ORGANIC】数量限定 チョコレート＆フラワー限定</p>
                  <p class="product-price">￥4,400</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/food_3.jpg') %>
                  <p class="product-category">洋菓子</p>
                  <p class="product-title">Thankyou クリームパン6個詰め合わせ</p>
                  <p class="product-price">￥1,750</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="center-content-section">
          <h3 class="center-content-title">小物・文房具の人気プレゼント</h3>
          <div class="center-content-item">
            <div class="center-products">
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/accessory_1.jpg') %>
                  <p class="product-category">ボールペン</p>
                  <p class="product-title">【名入れギフト】PARKER ボールペン IM</p>
                  <p class="product-price">￥4,048</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/accessory_2.jpg') %>
                  <p class="product-category">ハンカチ</p>
                  <p class="product-title">【MR.&MRS CHIEF】WEEK! ハンカチ 8枚セット</p>
                  <p class="product-price">￥19,800</p>
                </a>
              </div>
              <div class="center-products-item">
                <a href="#" class="product-item-link">
                  <%= image_tag('/products/accessory_3.jpg') %>
                  <p class="product-category">腕時計</p>
                  <p class="product-title">ヴェネチアングラス時計(DG5422)</p>
                  <p class="product-price">￥8,800</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right-side-menu">
        <div class="right-side-section">
          <div class="right-side-section-inner">
            <div class="feature_item">
              <a href="#">
                <%=image_tag('/right_side/special_1.jpg')%>
              </a>
            </div>
            <div class="feature_item">
              <a href="#">
                <%=image_tag('/right_side/special_2.jpg')%>
              </a>
            </div>
            <div class="feature_item">
              <a href="#">
                <%=image_tag('/right_side/special_3.jpg')%>
              </a>
            </div>
            <div class="feature_item">
              <a href="#">
                <%=image_tag('/right_side/special_4.jpg')%>
              </a>
            </div>
          </div>
        </div>
        <div class="right-side-section">
          <div class="right-side-section-inner">
            <h4 class="right-side-section-title">新着プレゼント</h4>
            <div class="new-products">
              <div class="new-product-item">
              </div>
            </div>
          </div>
        </div>
        <div class="right-side-section">
          <div class="right-side-section-inner">
          </div>
        </div>
        <div class="right-side-section">
          <div class="right-side-section-inner">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
