<div class="breadcrumb">
  <ul class="breadcrumb-list">
    <li class="breadcrumb-list-item"><a href="/">TANPホーム</a></li>
    <span class="breadcrumb-arrow"> > </span>
    <li class="breadcrumb-list-item" class="breadcrmb-current-page"><%= @gift.name %></li>
  </ul>
</div>

<div class="product-main">
  <div class="product-main-image">
    <div class="product-main-image-container">
      <%= image_tag('/gifts_show/product/product1_pink.jpg') %>
    </div>
  </div>
  <div class="product-main-info">
    <div class="product-main-info-inner">
      <h2 class="product-title"><%= @gift.name %></h2>
      
      <div class="product-brand">
        <a class="product-brand-link">
          <%= image_tag(@gift.brand_image_path, class: 'product-brand-image') %>
          <p class="product-brand-name"><%= @gift.brand_name %></p>
        </a>
      </div>
      <div class="product-shipping-date-container">
        <p class="product-shipping-date">最短で<span><%= @shipping_date %></span>お届け(明日10時までのご決済完了で)</p>
      </div>
      <p class="product-explan-text"><%= @gift.explain_text %></p>
      <p class="product-main-price">￥<%= @gift.price.floor.to_s(:delimited, delimiter: ',' ) %><span>税込</span></p>
      <p class="express-delivery">（お急ぎ便は手数料<span>390円</span>がかかります）</p>
      <button class="purchase-button js-modal-open">
        <div class="purchase-button-inner">
          <%# <p class="select-color-size">色・サイズなどを選択して</p> %>
          <p class="purchase-text">購入する</p>
        </div>
      </button>
    </div>
  </div>
  
  <!-- モーダルウインドウ -->
  <div class="modal-wrapper js-modal">
    <div class="modal-bg js-modal-close"></div>
    <div class="modal-content">
      <div class="modal-content-inner">
        <p class="confirmation-text"><span><%= @gift.name %></span>の注文を確定しますか？</p>
        <p class="attention-text">※テストサイトのため料金は発生しません</p>
        <div class="modal-button">
          <%= form_with url: purchase_records_path do |form| %>
            <%= form.hidden_field :gift_id, value: @gift.id %>
            <%= form.hidden_field :quantity, value: 1 %>
            <%= form.submit "確定", class: "fixing-button"%>
          <% end %>
          <button class="cancel-button js-modal-close">キャンセル</button>
        </div>
      </div>
    </div>
  </div>
</div>