<!-- パンくずリスト -->
<%= render '/preciouspeople/breadcrumb', page_name: '記念日追加' %>

<div class="member-calender">
    <%= form_with model: @precious_person, url: preciousdays_path, local: true do |form| %>
        <div class="precious-day-registration">
            <h2 class="precious-day-registration-title">記念日登録</h2>
            <div class="precious-person-image">
            </div>

            <div class="precious-day-registration-form">
                <div class="precious-day-registration-section">
                    <h3 class="registration-section-title">お相手情報登録</h3>
                    <div class="field">
                        <p class="field-label">お相手を選択</p>
                        <%#= form.text_field :name, placeholder: 'お相手を新しく登録', class: 'name-field text-field' %>
                        <%# セレクトボックスで既存の相手を選ぶか、新規登録するかを選べる %>
                        <div class="text-field"></div>
                    </div>
                    <div class="field">
                        <p class="field-label">お相手のお名前</p>
                        <%= form.text_field :name, placeholder: 'お相手を新しく登録', class: 'name-field text-field' %>
                    </div>
                    <div class="field">
                        <p class="field-label">お相手の年代</p>
                        <ul class="registration-form-select-items">
                            <% PreciousPerson.ages_i18n.each do |en, ja| %>
                                <li class="registration-form-select-item">
                                    <%= form.radio_button :age_id, en.intern %>
                                    <%= form.label ("age_id_#{en}").intern, ja %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="field">
                        <p class="field-label">お相手はどのような方ですか？</p>
                        <ul class="registration-form-select-items">
                            <% PreciousPerson.relations_i18n.each do |en, ja| %>
                                <li class="registration-form-select-item">
                                    <%= form.radio_button :relation_id, en.intern %>
                                    <%= form.label ("relation_id_#{en}").intern, ja %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>

                <div class="precious-day-registration-section">
                    <h3 class="registration-section-title">記念日情報登録</h3>
                    <%= form.fields_for :precious_days do |day| %>
                        <div class="field">
                            <p class="field-label">記念日の種類</p>
                            <ul class="registration-form-select-items">
                                <% PreciousDay.scenes_i18n.each do |en, ja| %>
                                    <li class="registration-form-select-item">
                                        <%= form.radio_button :scene_id, en.intern %>
                                        <%= form.label ("scenes_id_#{en}").intern, ja %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>

                        <div class="field">
                            <p class="field-label">記念日の日にち</p>
                            <div class="form-select-wrapper">
                                <%= form.date_select :precious_date, use_month_numbers: true, start_year: Time.now.year, end_year: 1900 %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="actions">
                <%= form.submit '記念日登録' %>
            </div>
        </div>
    <% end %>
</div>